# sphinx
env/
docs/_build

# icarus simulation
build/

# yosys output files
*.dblite
*.bin
*.asc
abc.*
*.history
hardware.*

# random stuff
log.txt
*.dot
*.asm
*.hex
out.v

# don't ignore firmware
!firmware/*

# testbench, openlane
bench/formal/*/
openlane/*/runs/
gds/
lef/
mag/
def/
spi/
verilog/

# build objects
bin/
obj/
._*
node_modules/
package-lock.json
*.js
.vs/
*.user
