# pins.pcf (c) 2020 Kevin Dai, GNU License
# Written for the custom iceWerx carrier dev board.
# All active low signals have suffix "_N," otherwise
# assume active high.

# FPGA Signals
set_io CLK      P7
set_io LEDR_N   A5
set_io LEDG_N   M4

# FPGA external reset
set_io RST_N    F3

# IO Pins 0 through 15 in order
set_io IO2      A1
set_io IO1      A3
set_io IO0      A4
set_io IO8      J1
set_io IO9      K3
set_io IO10     M1
set_io IO11     M3
set_io IO14     M6
set_io IO15     M7
set_io IO12     P2
set_io IO13     P3
set_io IO4      C1
set_io IO3      C3
set_io IO5      E1
set_io IO6      G1
set_io IO7      H1

# Memory bus control signals
set_io OE_N     C4
set_io WE_N     C5
set_io ALE0     G3
set_io ALE1     H3
set_io BHE_N    B1 # Replaces MISO

# 3v3 UART
set_io RX       M12
set_io TX       N14

# GPIO0 through 9, controls blue LEDs
set_io GPIO9    A7
set_io GPIO6    A10
set_io GPIO4    A11
set_io GPIO8    C7
set_io GPIO5    C10
set_io GPIO2    C12
set_io GPIO7    D6
set_io GPIO3    B14
set_io GPIO1    D12
set_io GPIO0    E12

# Other OE lines
set_io OE_BY3_N J3
set_io OE_BY1_N L1
set_io OE_BY2_N N1
set_io OE_BY0_N P1
